<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Hungry Velos</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <h1 class="h5 mb-0 text-gray-800">Hungry Velos Challenge 2021 by velokofi</h1>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text="${leaderBoard.athleteProfile.firstname + ' ' + leaderBoard.athleteProfile.lastname}"></span>
                            <img class="img-profile rounded-circle"
                                 th:src="${leaderBoard.athleteProfile.profile_medium}"/>

                        </a>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <div class="row">

                    <div class="col-xl-2 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Distance
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${leaderBoard.totalDistance} + ' kms'"/>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-bicycle fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Elevation Gain
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${leaderBoard.totalElevation} + ' mts'"/>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-rocket fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Rides
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col">
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                     th:text="${leaderBoard.totalRides}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calculator fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Moving Time
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${leaderBoard.movingTimeInHumanReadableFormat}"/>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-cogs fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Rider Average
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${leaderBoard.riderAverage + ' kms'}"/>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-user fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-6 mb-4">
                        <div class="card border-left-secondary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Riders
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${leaderBoard.riderCount}"/>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-users fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <div class="col-lg-4 mb-4">

                        <!-- Pie Chart -->
                        <div>
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Team Standings</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="col-lg-4 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Team Progress</h6>
                            </div>

                            <div class="card-body" th:each="team: ${leaderBoard.teamProgressMap}">
                                <h4 class="small font-weight-bold" th:text="${team.key}"></h4>
                                <h4 class="small font-weight-bold">
                                    <span class="float-right" th:text="${team.value + '%'}"></span>
                                </h4>
                                <div class="progress mb-4">
                                    <div aria-valuemax="100"
                                         aria-valuemin="0"
                                         role="progressbar"
                                         th:attr="aria-valuenow=${team.value > 100 ? 100 : team.value}"
                                         th:class="${'progress-bar ' + (team.value >= 100 ? 'bg-success' : 'bg-warning')}" th:style="${'width:' + (team.value > 100 ? 100 : team.value)}+'%'"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="col-lg-4 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Team Average</h6>
                            </div>

                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Individual Standings</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart0"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Approach -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Rules</h6>
                        </div>
                        <div class="card-body">
                            <p><b>Rules and regulations:</b></p>
                            <p>Each person in the team will have to complete 250 starting from 3rd Jan to 2nd
                                Feb</p>
                            <p>Whichever team does more number of km are the winners.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; velokofi 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<!--script src="js/demo/chart-area-demo.js"></script-->

<script th:inline="javascript">
    var lineChartData0 = {
			labels: [
                /*[# th:each="bettappa, iterStat: ${leaderBoard.bettappa}"]*/
                    "[(${bettappa.key})]",
                /*[/]*/
                /*[# th:each="bettamma, iterStat: ${leaderBoard.bettamma}"]*/
                    "[(${bettamma.key})]"[(${iterStat.last ? '' : ','})]
                /*[/]*/
            ],
			datasets: [{
				label: 'Elevation Gain',
				borderColor: 'rgb(255, 99, 132)',
				backgroundColor: 'rgb(255, 99, 132)',
				fill: false,
				data: [
                    /*[# th:each="bettappa, iterStat: ${leaderBoard.bettappa}"]*/
                        [(${bettappa.value})],
                    /*[/]*/
                    /*[# th:each="bettamma, iterStat: ${leaderBoard.bettamma}"]*/
                        [(${bettamma.value})][(${iterStat.last ? '' : ','})]
                    /*[/]*/
                ],
				yAxisID: 'y-axis-1',
			}, {
				label: 'Distance',
				borderColor: 'rgb(54, 162, 235)',
				backgroundColor: 'rgb(54, 162, 235)',
				fill: false,
				data: [
                    /*[# th:each="alemaari, iterStat: ${leaderBoard.mrAlemaari}"]*/
                        [(${alemaari.value})],
                    /*[/]*/
                    /*[# th:each="alemaari, iterStat: ${leaderBoard.msAlemaari}"]*/
                        [(${alemaari.value})][(${iterStat.last ? '' : ','})]
                    /*[/]*/
                ],
				yAxisID: 'y-axis-2'
			}]
		};

    window.onload = function() {
        var ctx0 = document.getElementById('myAreaChart0').getContext('2d');
        window.myLine = Chart.Line(ctx0, {
            data: lineChartData0,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                    display: false,
                    text: 'Mr Bettappa and Mr Alemaari'
                },
                scales: {
                    yAxes: [{
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                    }, {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        id: 'y-axis-2',

                        // grid line settings
                        gridLines: {
                            drawOnChartArea: false,
                        },
                    }],
                }
            }
        });
    };



</script>

<!--script src="js/demo/chart-pie-demo.js"></script-->
<script th:inline="javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: [
            /*[# th:each="team, iterStat: ${leaderBoard.teamTotals}"]*/
	            "[(${team.key})]"[(${iterStat.last ? '' : ','})]
            /*[/]*/
        ],
        datasets: [{
          data: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamTotals}"]*/
	                [(${team.value})][(${iterStat.last ? '' : ','})]
                /*[/]*/
            ],
          backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
          hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
          hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
        },
        legend: {
          display: true
        },
        cutoutPercentage: 80,
      },
    });



</script>

<script th:inline="javascript">
    var ctx2 = document.getElementById("myBarChart");
    var myBarChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamTotals}"]*/
                  "[(${team.key})]"[(${iterStat.last ? '' : ','})]
                /*[/]*/
            ],
            data: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamTotals}"]*/
                    [(${team.value})][(${iterStat.last ? '' : ','})]
                /*[/]*/
            ]
        }
    });

</script>

</body>

</html>